body {
    background-color: #333;
    color:white ;
    font-family: Arial, sans-serif;
  }
  .navbar {
    background-color: #333;
    overflow: hidden;
  }
  .navbar select {
    background-color: #333;
    color: white;
    padding: 14px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
  }
  .navbar select option {
    color: black;
    background-color: white;
  }
